html{
    background-color: red;
}
body{
    margin:0px;
}
div#headerWrapper{
    background-color: white;
    box-shadow: 20px 20px 50px black;
    /*padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 2em;     
    margin-left:auto; */
    margin:auto;
    margin-bottom: 100px; 
    width:100%;    
}

div#navLinks{
    height:50px;
    margin: auto;
    width:325px;
}

div#navLinks ol{
    list-style: none;
    margin:auto;
    padding:0px;
    text-align: center;

}

div#navLinks li{
    float:left;
    margin: 1em;
}


div#navLinks a{
    display:inline-block;
}


div#mainTitle h1,h2{
    text-align: center;
}

