html{
   
    background-image:url('http://www.uvm.edu/~jconyett/cs142/assignment7/laurenBG.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
}
body{
    margin: auto;
    width: 90%;
    margin-top: -8em;
}
  
h1{
    font-size: 80px;
}

h2{
    font-size: 60px;
    margin-top:-1em;
}

div#headerWrapper{
    background-color: rgba(255, 255, 255, 0.5);  
    box-shadow: 20px 20px 50px black;
    height: 720px;
    margin:9em auto 100px;
    width:844px; 
}

div#navLinks{
    height:50px;
    margin: auto;
   /* width:325px;  */
}

div#navLinks ol{
    list-style-type: none;
    margin:auto;
    padding:0px;
    text-align: center;

}

div#navLinks li{
    float:left;
    margin: 1em;
    border: solid .3em black;
    padding: 5em;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    /*fill in the bubbles? */
    background-color: black;


}


div#navLinks a{
    display:inline-block;
    text-decoration: none;
    font-size: 18pt;
    
    /*link color white */
    color: white;
}

div#navLinks a#datGal1{
    margin-left: -.5em;
}

div#navLinks a:visited{
    /* link color does not change */
    color: white;
}


div#mainTitle h1,h2{
    text-align: center;
}




/* FOR THE MENUE2 */
nav#mainMenu{
    background-color: black;
    margin-top: 1em;
    padding:5px 0px;
    width: 844px;
}

nav#mainMenu ol{
    background-color: #000;
    list-style-type: none;
    padding: 0px;
    width: 700px;
    color: white;
    font-style: italic;
    margin: auto;
}

nav#mainMenu li{
    display: inline;
    padding: 5%;
    vertical-align: middle;
}

nav#mainMenu a{
    text-decoration:none;
    color: white;
    background-color: black;
    font-size: 23px;


}
/*     END OF TOP NAV!!!!!     */




/*About Page */

#bio p{
    text-indent: 50px;
    margin: auto;
    max-width: 600px;
    font-size: 18pt;


}

#bio img#myFace{

    border-radius: 50%;
    border-width: 80px;
    border-height: 80px;
}